:root {
  --bs-dark-rgb: 245, 198, 188;
    
}
.btn-outline-dark:hover {
    color: #fff;
    background-color: #f2b4a6;
    border-color: #f2b4a6;
}

.bookInNav {
  width: 5%;
  border-radius: 50%;
}

.mySlides {
  display: flex;
  justify-content: center;
}

.carousel-books {
  position: relative;
  background-color: #fceae9;
  padding: 1em;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 75%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ed8178;
}

Body {
  background-color: #f1a68e;
  font-family: 'Cormorant', serif;
  font-size: 20px;
}

.card {
  background-color: #fcede8;
  border-radius: 5px;
}
